.to-do-list{
    font-family: Impact, sans-serif;
    text-align: center;
    margin-top: auto;
}
h1{
    font-size: 40px;
    color: rgb(4, 15, 15);
    background-color: gray;
    padding: 20px;
    margin: 0;
}
button{
  font-size: 20px;
  font-weight: medium;
  padding: 2px 5px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-button{
  background-color: rgb(33, 109, 3);
  margin-left: 10px;
}
.add-button:hover{
  background-color: rgb(68, 235, 3);
}
.delete-button{
  background-color: rgb(109, 3, 3);
  margin-right: 10px;
}
.delete-button:hover{
  background-color: rgb(235, 3, 3);
}
.up-button{
  background-color: rgb(3, 3, 109);
  margin-left: 10px;
}
.up-button:hover{
  background-color: rgb(3, 96, 235);
}
.down-button{
  background-color: rgb(3, 109, 109);
  margin-right: 10px;
}
.down-button:hover{
  background-color: rgb(3, 235, 235);
}
input[type="text"]{
  font-size: 20px;
  padding: 2px 5px;
  border: black solid 2px;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}
ol{
  list-style-type: none;
  padding: 0;
}
li{
  font-size: 20px;
  padding: 5px;
  background-color: lightgrey;
  border: black solid 1px;
  border-radius: 5px;
  border-color: black;
}
.text{
  display: inline-block;
  width: 300px;
  text-align: left;
}
